

  .btn-primary {
    margin: auto;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: $fs-18;
    background-color: $bg-primary-light;
    color: $bg-contrast-dark;
    box-shadow: $effect-shadow-default;
    cursor: pointer;

      &:hover{
        box-shadow: $effect-shadow-hover;
      }

      &:focus{
        box-shadow: $effect-shadow-active;
      }
  }