.d-none {
    display: none;
}

.d-grid {
    display: grid;
}

.menuMobileActive{
    opacity: 1;
    transform: translateX(0);
    
}

.btnRotateClosedJS {
    background-color: var(--cl-feedback-info);
}

.btnRotateOpenJS {
    transform: rotate(45deg);
    background-color: var(--cl-feedback-error);
}

.inputInvalidJS {
    outline: solid $fs-2 var(--cl-feedback-error);
}

.inputValidJS {
    outline: solid $fs-2 var(--cl-feedback-sucess);
}