.d-none{
    display: none;
}

.d-grid{
    display: grid;
}

.btnRotateJS{
    transform: translateX(20px);
    transform: scale(2);
}

.inputIalid{
    outline: solid $fs-2 var(--cl-feedback-error);
   }