
$bg-primary-light: #EEF0F4;
$bg-primary-dark: #141414;

$bg-secundary-light: null;
$bg-secundary-dark: null;

$bg-tertiary-light: null;
$bg-tertiary-dark: null;

$bg-contrast-light: #F6F9FE;
$bg-contrast-dark: #0F0F0F;

$cl-black-100: #141414;
$cl-black-200: #292929;
$cl-black-300: #3d3d3d;
$cl-black-400: #525252;
$cl-black-500: #666666;
$cl-black-600: #7a7a7a;
$cl-black-700: #8f8f8f;
$cl-black-800: #a3a3a3;
$cl-black-850: #b8b8b8;
$cl-black-900: #cccccc;
$cl-black-950: #e0e0e0;
$cl-black-1000: #f5f5f5;

$cl-feedback-status: #e5f2fa;
$cl-feedback-info: #3498db;
$cl-feedback-warning: #f1c40f;
$cl-feedback-error: #e74c3c;
$cl-feedback-sucess: #07bc0c;
