*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-primary);
    transition-property: background-color;
    transition-duration: 0.5s;
}