nav {
  display: flex;
  gap: $sp-16;
}

header {
  max-width: 72rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $sp-24 $sp-8;

  .settings-ui {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $sp-8;

    button {
      position: relative;
      display: flex;
      align-items: center;
      font-size: $fs-16;
    }

    button::after {
      content: "";
      position: absolute;
      right: -20%;
      bottom: 33%;
      border: solid var(--bg-constrast-light);
      border-width: 0 2px 2px 0;
      display: block;
      margin: auto;
      padding: 4px;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    button:focus::after {
      bottom: -0%;
      transform: rotate(-135deg);
    }

  }

  .ui-options {
    position: absolute;
    top: $sp-24;
    left: -33%;
    width: 14rem;
    gap: $sp-8;
    padding: $sp-16;
    border-radius: $sp-8;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;

    .option {
      display: flex;
      justify-content: space-between;

      label {
        width: 100%;
        height: $fs-32;
        display: flex;
        align-items: center;
        gap: $sp-8;
      }

      input {
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
      }

      input::after {
        content: "";
        position: absolute;
        right: 0;
        width: $fs-24;
        height: $fs-24;
        border-radius: 50%;
        background-color: var(--bg-primary);
        box-shadow: $effect-shadow-active;
      }

      input:checked::after {
        box-shadow: $effect-shadow-hover;
      }
    }
  }

  i {
    font-size: $fs-20;
  }
}

.container {
  max-width: 72rem;
  width: 100%;
  height: auto;
  padding: 5rem 1.5rem;
}

.hero-section {
  display: flex;
  margin: auto;

  .intro {
    width: auto;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $fs-64;
      color: var(--cl-black-300);
    }

    p {
      width: 80%;
      margin-top: $sp-16;
      color: var(--bg-constrast-light);
    }

    a {
      width: $fs-256;
      margin-top: $sp-32;
    }
  }

  .svg-container {
    width: 100%;
  }
}



.pipeline-section {
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light)
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);
  }

  .text-box{
    position: relative;
    width: 40%;
    margin-top: $sp-40;
    padding: $sp-16;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;

    i{
      position: absolute;
      right: -20%;
      top: 33%;
      font-size: $fs-28;
      padding: $sp-8;
      border-radius: 50px;
      background-color: var(--bg-primary);
      color: var(--bg-constrast-light);
      box-shadow: $effect-shadow-hover;
    }

    h3{
      font-size: $fs-20;
      color: var(--bg-constrast-light);
    }

    p{
      color: var(--cl-black-300);
      margin-top: $sp-16;
    }
  } 

  .text-box:nth-child(3),
  .text-box:nth-child(5){
    margin-left: 50%;
  }

  .text-box:nth-child(3) i,
  .text-box:nth-child(5) i{
    right: 105%;
  }
}

.contact{
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light)
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);
  }

  form{
    width: 60%;
    margin: $sp-40 auto;
    display: grid;
    padding: $sp-40;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;
    gap: $sp-24;

    .field{

      label{
        font-weight: $fw-medium;
        color: var(--bg-constrast-light);
      }
  
      input,
      textarea{
        width: 100%;
        margin-top: $sp-8;
        padding:  $sp-8 $sp-16;
        font-size: $fs-16;
        border-radius: $sp-8;
        color: var(--bg-constrast-light);
        background-color: var(--bg-primary);
        box-shadow: $effect-shadow-active;
      }

      input:focus, 
      textarea:focus{
        font-size: $fs-18;
      }

      ::placeholder{
        color: var(--cl-black-500);
        opacity: 1;
      }
    }

    button{
      margin-top: $sp-8;
      font-size: $fs-18;
    font-weight: $fw-medium;
    gap: $fs-16;

    i{
      font-size: $fs-24;
    }
    }

  }
}

.certificates{
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light)
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);
  }

  .certificate-box{
width: 60%;
margin: auto;
    display: flex;
    align-items: center;
    padding: $sp-24;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;
    margin-top: 44px;
    gap: $sp-32;
    border-radius: 8px;

    img{
      width: 180px;
    }
  }
}