.show-menu-mobile {
  display: none;

  @media screen and (max-width: 959px) {
    display: block;
    position: fixed;
    z-index: 10;
    right: $fs-16;
    top: $fs-16;
    width: $fs-40;
    height: $fs-40;
    border-radius: $fs-8;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;
    color: var(--bg-constrast-light);
    overflow: hidden;
  }

  span:nth-child(1) {
    position: absolute;
    width: 16px;
    height: 4px;
    left: 10px;
    top: 10px;
    border-radius: 5rem;
    background-color: var(--bg-constrast-light);
    transition: 0.2s ease-in-out
  }

  span:nth-child(2) {
    position: absolute;
    width: 20px;
    height: 4px;
    left: 10px;
    top: 18px;
    border-radius: 5rem;
    background-color: var(--bg-constrast-light);
    transition: 0.2s ease-in-out
  }

  span:nth-child(3) {
    position: absolute;
    width: 8px;
    height: 4px;
    left: 10px;
    top: 26px;
    border-radius: 5rem;
    background-color: var(--bg-constrast-light);
    transition: 0.2s ease-in-out
  }
}

aside {
  display: none;

  @media screen and (max-width: 959px) {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--bg-primary);
    opacity: 0.3;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 1;

    nav {
      margin-top: $sp-80;
      padding: 0 $sp-32;

      a {
        margin-top: $sp-24;
      }
    }

    .network {
      margin-top: $sp-80;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $sp-32;
    }

    blockquote {
      width: 80%;
      height: $fs-128;
      margin: $sp-40 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 $sp-40;
      background-color: var(--bg-primary);
      box-shadow: $effect-shadow-default;

      @media screen and (max-width: 959px) {
        margin: $sp-80 auto;
      }

      q {
        text-align: center;
        font-style: italic;
        font-weight: $fw-light;
        font-size: $fs-18;
        color: var(--cl-black-300);
      }
    }
  }
}


header {
  max-width: 72rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $sp-24 $sp-8;

  @media screen and (max-width: 959px) {
    width: 80%;
    margin: 0;
    justify-content: space-around;
  }

  a {
    font-family: 'Audiowide', sans-serif;
    font-size: $fs-20;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-16;
    }
  }

  nav {
    display: flex;
    gap: $sp-16;

    @media screen and (max-width: 959px) {
      display: none;
    }

    a {
      font-family: 'Roboto', sans-serif;
    }
  }

  .settings-ui {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $sp-8;
    color: var(--bg-constrast-light);

    button {
      position: relative;
      display: flex;
      align-items: center;
      font-size: $fs-16;
      background-color: var(--bg-primary);
      color: var(--bg-constrast-light);
      cursor: pointer;

      @media screen and (max-width: 959px) {
        font-size: $fs-14;
      }
    }

    button::after {
      content: "";
      position: absolute;
      right: -20%;
      bottom: 33%;
      border: solid var(--bg-constrast-light);
      border-width: 0 2px 2px 0;
      display: block;
      margin: auto;
      padding: 4px;
      transform: rotate(45deg);
      transition: 0.3s;
    }

    button:focus::after {
      bottom: -0%;
      transform: rotate(-135deg);
    }

  }

  .ui-options {
    position: absolute;
    top: $sp-24;
    left: -33%;
    width: 14rem;
    gap: $sp-8;
    padding: $sp-16;
    border-radius: $sp-8;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;

    .option {
      display: flex;
      justify-content: space-between;

      label {
        width: 100%;
        height: $fs-32;
        display: flex;
        align-items: center;
        gap: $sp-8;
      }

      input {
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
      }

      input::after {
        content: "";
        position: absolute;
        right: 0;
        width: $fs-24;
        height: $fs-24;
        border-radius: 50%;
        background-color: var(--bg-primary);
        box-shadow: $effect-shadow-active;
      }

      input:checked::after {
        box-shadow: $effect-shadow-hover;
      }
    }
  }

  i {
    font-size: $fs-20;

    @media screen and (max-width: 959px) {
      font-size: $fs-16;
    }
  }
}

.container {
  max-width: 72rem;
  width: 100%;
  height: auto;
  padding: 5rem 1.5rem;

}

.hero-section {
  display: flex;
  margin: auto;

  @media screen and (max-width: 959px) {
    flex-direction: column;
  }

  .intro {
    width: auto;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $fs-64;
      color: var(--cl-black-300);
    }

    p {
      width: 80%;
      margin-top: $sp-16;
      color: var(--bg-constrast-light);
    }

    a {
      width: $fs-256;
      margin-top: $sp-32;
    }
  }

  .svg-container {
    width: 100%;

    @media screen and (max-width: 959px) {
      margin-top: $sp-40;
    }
  }
}

.pipeline-section {
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  .text-box {
    position: relative;
    width: 40%;
    margin-top: $sp-32;
    padding: $sp-16;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;

    @media screen and (max-width: 959px) {
      width: 80%;
    }

    i {
      position: absolute;
      right: -20%;
      top: 33%;
      font-size: $fs-28;
      padding: $sp-8;
      border-radius: 50px;
      background-color: var(--bg-primary);
      color: var(--bg-constrast-light);
      box-shadow: $effect-shadow-hover;
    }

    h3 {
      font-size: $fs-20;
      color: var(--bg-constrast-light);
    }

    p {
      color: var(--cl-black-300);
      margin-top: $sp-16;
    }
  }

  .text-box:nth-child(3),
  .text-box:nth-child(5) {
    margin-left: 50%;

    @media screen and (max-width: 959px) {
      margin-left: 0%;
      width: 80%;
    }
  }

  .text-box:nth-child(3) i,
  .text-box:nth-child(5) i {
    right: 105%;

    @media screen and (max-width: 959px) {
      position: absolute;
      right: -20%;
    }
  }
}

.projects {
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  p {
    margin-top: $sp-32;
    text-align: center;
    font-size: $fs-20;
    color: var(--cl-black-300)
  }

  .grid-projects {
    display: grid;
    justify-content: center;
    gap: $sp-32;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }

  .card-project {
    width: 300px;
    height: auto;
    margin-top: $sp-32;
    display: flex;
    flex-direction: column;
    padding: $sp-24;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;

    img {
      max-width: 20rem;
      height: 10rem;
      padding: $sp-16;
      border-radius: $fs-8;
      box-shadow: $effect-shadow-active;
    }

    h3 {
      margin-top: $sp-16;
      font-size: $fs-20;
      font-weight: $fw-medium;
      color: var(--bg-constrast-light);
    }

    p {
      margin-top: $sp-8;
      text-align: left;
      font-size: $fs-16;
      color: var(--cl-black-300)
    }

    a {
      margin-top: $sp-24;
    }
  }


}

.contact {
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  form {
    width: 60%;
    margin: $sp-32 auto;
    display: grid;
    padding: $sp-40;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;
    gap: $sp-24;

    @media screen and (max-width: 959px) {
      width: 100%;
    }

    .field {

      label {
        font-weight: $fw-medium;
        color: var(--bg-constrast-light);
      }

      input,
      textarea {
        width: 100%;
        margin-top: $sp-8;
        padding: $sp-8 $sp-16;
        font-size: $fs-16;
        border-radius: $sp-8;
        color: var(--bg-constrast-light);
        background-color: var(--bg-primary);
        box-shadow: $effect-shadow-active;
        transition: 0.2s;
      }

      input:focus,
      textarea:focus {
        font-size: $fs-18;
      }

      ::placeholder {
        color: var(--cl-black-500);
        opacity: 1;
      }

      legend {
        margin-top: $sp-8;
        font-size: $fs-14;
        color: var(--cl-feedback-error);
      }
    }

    button {
      margin-top: $sp-8;
      font-size: $fs-18;
      font-weight: $fw-medium;
      gap: $fs-16;

      i {
        font-size: $fs-24;
      }
    }

  }
}

.certificates {
  margin: auto;

  h2 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h2::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  .certificate-box {
    width: 60%;
    margin: auto;
    margin-top: $sp-32;
    display: flex;
    align-items: center;
    padding: $sp-24;
    background-color: var(--bg-primary);
    box-shadow: $effect-shadow-default;
    gap: $sp-32;
    cursor: pointer;

    @media screen and (max-width: 959px) {
      width: 100%;
    }

    img {
      width: 5rem;
      background-color: var(--bg-primary);
      box-shadow: $effect-shadow-active;
      padding: $sp-8;
      border-radius: $fs-8;
      fill: var(--bg-constrast-light);
    }

    details {

      summary {
        width: 100%;
        font-size: $fs-20;
        font-weight: $fw-normal;
        color: var(--bg-constrast-light);
      }

      p {
        margin-top: $sp-16;
        margin-bottom: $sp-24;
        font-size: $fs-16;
        color: var(--cl-black-300)
      }

      a {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: $fs-16;
        font-weight: $fw-medium;
        color: var(--bg-constrast-light);


        i {
          margin-left: $sp-8;
          font-size: $fs-24;
          transition: 0.2s;
        }
      }

      a:hover i {
        transform: scale(1.2);
        color: var(--cl-feedback-info)
      }
    }
  }
}

footer {
  display: flex;
  padding: $fs-16;
  justify-content: center;
  color: var(--cl-black-600);
  font-size: $fs-16;
  box-shadow: $effect-shadow-default;

  a {
    color: var(--cl-black-600);
    transition: 0.2s ease-in-out;

    &:hover {
      color: var(--cl-feedback-info);
    }
  }
}

.tutorials {
  margin: auto;

  h1 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h1::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  p {
    margin-top: $sp-32;
    text-align: center;
    font-size: $fs-20;
    color: var(--cl-black-300)
  }

  .grid-cards {
    display: grid;
    justify-content: center;
    gap: $sp-32;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));


    .card-video {
      width: auto;
      height: auto;
      margin-top: $sp-32;
      display: flex;
      flex-direction: column;
      padding: $sp-24;
      background-color: var(--bg-primary);
      box-shadow: $effect-shadow-default;

      iframe {
        min-width: 16rem;
        aspect-ratio: 4/3;
        padding: $sp-16;
        border-radius: $fs-8;
        box-shadow: $effect-shadow-active;
      }

      h3 {
        margin-top: $sp-16;
        font-size: $fs-20;
        font-weight: $fw-medium;
        color: var(--bg-constrast-light);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      p {
        margin-top: $sp-8;
        text-align: left;
        font-size: $fs-16;
        color: var(--cl-black-300);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.case {
  margin: auto;

  img {
    margin: $sp-16 0;
    width: 100%;
    padding: $sp-16;
    border-radius: $fs-8;
    box-shadow: $effect-shadow-active;
    background-color: var(--bg-primary);
  }

  h1 {
    text-align: center;
    font-size: $fs-40;
    color: var(--bg-constrast-light);

    @media screen and (max-width: 959px) {
      font-size: $fs-28;
    }
  }

  h1::after {
    content: "";
    margin: $sp-32 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: $fs-8;
    border-radius: $fs-8;
    background-color: var(--cl-black-500);

    @media screen and (max-width: 959px) {
      width: 30%;
    }
  }

  .presentation {
    margin-top: $sp-32;
    display: flex;
    justify-content: space-around;

    h2 {
      font-size: $fs-28;
      color: var(--cl-black-300);
      padding: 0 $sp-16;
    }

    .customer {
        span {
        font-weight: $fw-medium;
        color: var(--bg-constrast-light);
      }

      p {
        color: var(--bg-constrast-light);
        margin-bottom: $sp-8;
      }
    }
  }

  .links {
    margin-top: $sp-32;
    display: flex;
    justify-content: center;
    gap: $sp-24;
  }

  .infos {
    margin-top: $sp-32;

    .title-description {
      margin: $sp-80 0;
      display: flex;
      justify-content: space-between;

      h3 {
        width: 70%;
        padding: 0 $sp-16;
        font-size: $fs-24;
        color: var(--bg-constrast-light);
      }

      .description {
        width: 100%;

        h4 {
          font-size: $fs-18;
          color: var(--bg-constrast-light);
        }

        p {
          margin-top: $sp-8;
          color: var(--cl-black-300);
        }
      }
    }
  }
}