$effect-shadow-default: -8px -8px 14px #fff, 8px 8px 14px #d9dade;
$effect-shadow-hover: 8px 8px 14px #c2cad6, inset -8px -8px 14px #c2cad6;
$effect-shadow-active: inset -8px -8px 14px #fff, inset 8px 8px 14px #c2cad6;

