$effect-shadow-light-default: -12px -12px 16px #FFFB, 12px 12px 16px rgba(0, 0, 0, 0.1);
$effect-shadow-light-hover: 8px 8px 32px #c2cad6, inset -8px -8px 16px #c2cad6;
$effect-shadow-light-active: inset -8px -8px 16px #fafcff, inset 8px 8px 16px #c2cad6;
$effect-shadow-light-soft: 2px 2px 8px #c2cad6, inset -2px -2px 8px #c2cad6;

