

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    min-height: 100vh;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  button{
    border: none;
  }

@import 'modules/teste';

