@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,700&display=swap");
aside {
  display: none;
}
@media screen and (max-width: 60rem) {
  aside {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: var(--bg-primary);
    opacity: 0.3;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 1;
  }
  aside nav {
    margin-top: 5rem;
    padding: 0 2rem;
  }
  aside nav a {
    margin-top: 1.5rem;
  }
  aside .network {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  aside blockquote {
    width: 80%;
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--bg-primary);
    box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  }
}
@media screen and (max-width: 60rem) and (max-width: 60rem) {
  aside blockquote {
    margin: 5rem auto;
  }
}
@media screen and (max-width: 60rem) {
  aside blockquote q {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 1.125rem;
    color: var(--cl-black-300);
  }
}

header {
  max-width: 72rem;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
}
@media screen and (max-width: 60rem) {
  header {
    width: 80%;
    margin: 0;
    justify-content: space-around;
  }
}
header a {
  font-family: "Nova Mono", monospace;
  font-size: 1.25rem;
  color: var(--bg-constrast-light);
  border-radius: 0.25rem;
}
@media screen and (max-width: 60rem) {
  header a {
    font-size: 1rem;
  }
}
header nav {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 60rem) {
  header nav {
    display: none;
  }
}
header nav a {
  font-family: "Roboto", sans-serif;
}
header .settings-ui {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--bg-constrast-light);
}
header .settings-ui button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  cursor: pointer;
}
@media screen and (max-width: 60rem) {
  header .settings-ui button {
    font-size: 0.875rem;
  }
}
header .settings-ui button::after {
  content: "";
  position: absolute;
  right: -20%;
  bottom: 33%;
  border: solid var(--bg-constrast-light);
  border-width: 0 0.125rem 0.125rem 0;
  display: block;
  margin: auto;
  padding: 0.25rem;
  transform: rotate(45deg);
  transition: 0.3s;
}
header .settings-ui button:focus::after {
  bottom: 0%;
  transform: rotate(-135deg);
}
header .ui-options {
  position: absolute;
  top: 1.5rem;
  left: -33%;
  min-width: 16rem;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
header .ui-options .option {
  display: flex;
  justify-content: space-between;
}
header .ui-options .option label {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
header .ui-options .option input {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
header .ui-options .option input::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--bg-primary);
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  cursor: pointer;
}
header .ui-options .option input:checked::after {
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
  outline: inset 0.063rem var(--cl-feedback-info);
}
header .ui-options .option input[type=checkbox]::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  cursor: pointer;
}
header .ui-options .option input[type=checkbox]:checked::after {
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
  outline: inset 0.063rem var(--cl-feedback-info);
}
header i {
  font-size: 1.25rem;
}
@media screen and (max-width: 60rem) {
  header i {
    font-size: 1rem;
  }
}

.container {
  max-width: 72rem;
  width: 100%;
  height: auto;
  padding: 5rem 1.5rem;
}

.hero-section {
  display: flex;
  margin: auto;
}
@media screen and (max-width: 60rem) {
  .hero-section {
    flex-direction: column;
  }
}
.hero-section .intro {
  width: auto;
  display: flex;
  flex-direction: column;
}
.hero-section .intro h1 {
  font-size: 4rem;
  color: var(--cl-black-300);
}
.hero-section .intro p {
  width: 80%;
  margin-top: 1rem;
  color: var(--bg-constrast-light);
}
.hero-section .intro a {
  width: 16rem;
  margin-top: 2rem;
}
.hero-section .svg-container {
  width: 100%;
}
@media screen and (max-width: 60rem) {
  .hero-section .svg-container {
    margin-top: 2.5rem;
  }
}

.pipeline-section {
  margin: auto;
  overflow: hidden;
}
.pipeline-section h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .pipeline-section h2 {
    font-size: 1.75rem;
  }
}
.pipeline-section h2::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .pipeline-section h2::after {
    width: 30%;
  }
}
.pipeline-section .text-box {
  position: relative;
  width: 40%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  transition: 0.5s;
}
@media screen and (max-width: 60rem) {
  .pipeline-section .text-box {
    width: 80%;
  }
}
.pipeline-section .text-box i {
  position: absolute;
  right: -20%;
  top: 33%;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-radius: 3.125rem;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
}
.pipeline-section .text-box h3 {
  font-size: 1.25rem;
  color: var(--bg-constrast-light);
}
.pipeline-section .text-box p {
  color: var(--cl-black-300);
  margin-top: 0.5rem;
}
.pipeline-section .text-box:nth-child(3),
.pipeline-section .text-box:nth-child(5) {
  margin-left: 50%;
}
@media screen and (max-width: 60rem) {
  .pipeline-section .text-box:nth-child(3),
  .pipeline-section .text-box:nth-child(5) {
    margin-left: 0%;
    width: 80%;
  }
}
.pipeline-section .text-box:nth-child(3) i,
.pipeline-section .text-box:nth-child(5) i {
  right: 105%;
}
@media screen and (max-width: 60rem) {
  .pipeline-section .text-box:nth-child(3) i,
  .pipeline-section .text-box:nth-child(5) i {
    position: absolute;
    right: -20%;
  }
}

.projects {
  margin: auto;
}
.projects h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .projects h2 {
    font-size: 1.75rem;
  }
}
.projects h2::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .projects h2::after {
    width: 30%;
  }
}
.projects p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  color: var(--cl-black-300);
}
.projects .grid-projects {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, auto));
}
.projects .card-project {
  width: 18.75rem;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
.projects .card-project img {
  max-width: 20rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
}
.projects .card-project h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bg-constrast-light);
}
.projects .card-project p {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: var(--cl-black-300);
}
.projects .card-project a {
  margin-top: 1.5rem;
}

.contact {
  margin: auto;
}
.contact h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .contact h2 {
    font-size: 1.75rem;
  }
}
.contact h2::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .contact h2::after {
    width: 30%;
  }
}
.contact form {
  width: 60%;
  margin: 2rem auto;
  display: grid;
  padding: 2.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  gap: 1.5rem;
}
@media screen and (max-width: 60rem) {
  .contact form {
    width: 100%;
  }
}
.contact form .field label {
  font-weight: 500;
  color: var(--bg-constrast-light);
}
.contact form .field input,
.contact form .field textarea {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--bg-constrast-light);
  background-color: var(--bg-primary);
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  transition: 0.2s;
}
.contact form .field textarea {
  resize: vertical;
}
.contact form .field input:focus,
.contact form .field textarea:focus {
  font-size: 1.125rem;
}
.contact form .field ::-moz-placeholder {
  color: var(--cl-black-500);
  opacity: 1;
}
.contact form .field ::placeholder {
  color: var(--cl-black-500);
  opacity: 1;
}
.contact form .field legend {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--cl-feedback-error);
}
.contact form button {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 1rem;
}
.contact form button i {
  font-size: 1.5rem;
}

.certificates {
  margin: auto;
}
.certificates h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .certificates h2 {
    font-size: 1.75rem;
  }
}
.certificates h2::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .certificates h2::after {
    width: 30%;
  }
}
.certificates .certificate-box {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  gap: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 60rem) {
  .certificates .certificate-box {
    width: 100%;
  }
}
.certificates .certificate-box img {
  width: 5rem;
  height: 5rem;
  background-color: var(--bg-primary);
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  padding: 0.5rem;
  border-radius: 0.5rem;
  fill: var(--bg-constrast-light);
}
.certificates .certificate-box details summary {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--bg-constrast-light);
}
.certificates .certificate-box details p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: var(--cl-black-300);
}
.certificates .certificate-box details a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-constrast-light);
}
.certificates .certificate-box details a i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  transition: 0.2s;
}
.certificates .certificate-box details a:hover i {
  transform: scale(1.2);
  color: var(--cl-feedback-info);
}

.about {
  margin: auto;
}
.about h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .about h2 {
    font-size: 1.75rem;
  }
}
.about h2::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .about h2::after {
    width: 30%;
  }
}
.about p {
  margin-top: 2rem;
  text-align: start;
  font-size: 1.25rem;
  color: var(--cl-black-300);
}
.about p:nth-child(3) {
  margin-top: 0.5rem;
}
.about .about-me {
  margin-top: 2rem;
  display: flex;
}
@media screen and (max-width: 60rem) {
  .about .about-me {
    flex-direction: column-reverse;
  }
}
.about .about-me .stacks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-me .stacks h4 {
  text-align: center;
  font-size: 1.25rem;
  color: var(--bg-constrast-light);
}
.about .about-me .stacks .stack-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, auto));
  padding: 1.5rem;
  gap: 2.5rem;
  overflow: hidden;
}
@media screen and (max-width: 60rem) {
  .about .about-me .stacks .stack-container {
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, auto));
  }
}
.about .about-me .stacks .stack-container .stack {
  width: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;
}
.about .about-me .stacks .stack-container .stack i {
  width: auto;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-radius: 3.125rem;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
}
.about .about-me .stacks .stack-container .stack h5 {
  color: var(--cl-black-300);
}
.about .about-me .stacks .social-icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, auto));
  padding: 1.5rem;
  gap: 2.5rem;
}
.about .about-me .stacks .social-icons a {
  min-width: 1rem;
  width: auto;
  margin: auto;
  padding: 0.75rem;
  font-size: 2rem;
}
.about .about-me .about-photo {
  width: auto;
  padding: 1.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
@media screen and (max-width: 60rem) {
  .about .about-me .about-photo {
    margin-bottom: 2.5rem;
  }
}
.about .about-me .about-photo img {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  background-color: var(--bg-primary);
}

footer {
  display: flex;
  padding: 1rem;
  justify-content: center;
  color: var(--cl-black-400);
  font-size: 1rem;
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
footer a {
  color: var(--cl-black-400);
  border-radius: 0.25rem;
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: var(--cl-feedback-info);
}

.tutorials {
  margin: auto;
}
.tutorials h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .tutorials h1 {
    font-size: 1.75rem;
  }
}
.tutorials h1::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .tutorials h1::after {
    width: 30%;
  }
}
.tutorials p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  color: var(--cl-black-300);
}
.tutorials .grid-cards {
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, auto));
}
.tutorials .grid-cards .card-video {
  width: auto;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
.tutorials .grid-cards .card-video iframe {
  min-width: 16rem;
  aspect-ratio: 4/3;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
}
.tutorials .grid-cards .card-video h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bg-constrast-light);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tutorials .grid-cards .card-video p {
  margin-top: 0.5rem;
  text-align: left;
  font-size: 1rem;
  color: var(--cl-black-300);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.case {
  margin: auto;
}
.case img {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
  background-color: var(--bg-primary);
  transition: 0.5s;
}
.case h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--bg-constrast-light);
}
@media screen and (max-width: 60rem) {
  .case h1 {
    font-size: 1.75rem;
  }
}
.case h1::after {
  content: "";
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--cl-black-500);
}
@media screen and (max-width: 60rem) {
  .case h1::after {
    width: 30%;
  }
}
.case .presentation {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.case .presentation h2 {
  font-size: 1.75rem;
  color: var(--cl-black-200);
  padding: 0 1rem;
}
.case .presentation .customer span {
  font-weight: 500;
  color: var(--bg-constrast-light);
}
.case .presentation .customer p {
  color: var(--bg-constrast-light);
  margin-bottom: 0.5rem;
}
.case .links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.case .infos {
  margin-top: 2rem;
}
.case .infos .title-description {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
}
.case .infos .title-description h3 {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.75rem;
  color: var(--cl-black-200);
}
.case .infos .title-description .description {
  width: 100%;
}
.case .infos .title-description .description h4 {
  font-size: 1.25rem;
  color: var(--bg-constrast-light);
}
.case .infos .title-description .description p {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: var(--cl-black-300);
}

html {
  --bg-primary: #EEF0F4;
  --bg-constrast-light: #0F0F0F;
  --bg-contrast-dark: #($bg-contrast-dark);
  --cl-white-pure: #fff;
  --cl-black-pure: #000;
  --cl-shadow-effect-default: #D9DADE;
  --cl-shadow-effect-hover: #C2CAD6;
  --cl-black-100: #141414;
  --cl-black-200: #292929;
  --cl-black-300: #3d3d3d;
  --cl-black-400: #525252;
  --cl-black-500: #666666;
  --cl-black-600: #7a7a7a;
  --cl-black-700: #8f8f8f;
  --cl-black-800: #a3a3a3;
  --cl-black-850: #b8b8b8;
  --cl-black-900: #cccccc;
  --cl-black-950: #e0e0e0;
  --cl-black-1000: #f5f5f5;
  --cl-feedback-status: #e5f2fa;
  --cl-feedback-info: #3498db;
  --cl-feedback-warning: #f1c40f;
  --cl-feedback-error: #e74c3c;
  --cl-feedback-sucess: #07bc0c;
}

html[ui-theme=dark] {
  --bg-primary: #26262B;
  --bg-constrast-light: #F6F9FE;
  --bg-contrast-dark: #($bg-contrast-light);
  --cl-white-pure: #141414;
  --cl-shadow-effect-default: #000;
  --cl-shadow-effect-hover: #000;
  --cl-black-100: #f5f5f5;
  --cl-black-200: #e0e0e0;
  --cl-black-300: #cccccc;
  --cl-black-400: #b8b8b8;
  --cl-black-500: #a3a3a3;
  --cl-black-600: #8f8f8f;
  --cl-black-700: #7a7a7a;
  --cl-black-800: #666666;
  --cl-black-850: #525252;
  --cl-black-900: #3d3d3d;
  --cl-black-950: #292929;
  --cl-black-1000: #141414;
}

html[ui-theme=high-contrast] {
  --bg-primary: #000;
  --bg-constrast-light: #fff;
  --bg-contrast-dark: #($bg-contrast-light);
  --cl-white-pure: #3d3d3d;
  --cl-shadow-effect-default: #141414;
  --cl-shadow-effect-hover: #525252;
  --cl-black-100: #f5f5f5;
  --cl-black-200: #f5f5f5;
  --cl-black-300:#f5f5f5;
  --cl-black-400: #f5f5f5;
  --cl-black-500: #f5f5f5;
  --cl-black-600: #f5f5f5;
  --cl-black-700: #f5f5f5;
  --cl-black-800: #f5f5f5;
  --cl-black-850: #f5f5f5;
  --cl-black-900: #f5f5f5;
  --cl-black-950: #f5f5f5;
  --cl-black-1000: #f5f5f5;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-primary);
  transition-property: background-color;
  transition-duration: 0.3s;
}

:focus {
  outline: solid var(--cl-feedback-info) 0.125rem;
}

.btn-primary {
  min-width: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  cursor: pointer;
}
.btn-primary:hover {
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
}
.btn-primary:focus {
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-radius: 50px;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  cursor: pointer;
}
.btn-icon:focus {
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
}

.btn-to-top {
  bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  padding: 0.5rem;
  border-radius: 50px;
  background-color: var(--bg-primary);
  color: var(--bg-constrast-light);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
}
.btn-to-top:hover {
  box-shadow: 8px 8px 14px var(--cl-shadow-effect-hover), inset -8px -8px 14px var(--cl-shadow-effect-hover);
}
.btn-to-top:focus {
  box-shadow: inset -8px -8px 14px var(--cl-white-pure), inset 8px 8px 14px var(--cl-shadow-effect-hover);
}

.btn-return {
  display: block;
  position: relative;
  z-index: 10;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-primary);
  box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
  color: var(--bg-constrast-light);
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 959px) {
  .btn-return {
    position: fixed;
  }
}
.btn-return span:nth-child(1) {
  position: absolute;
  width: 20px;
  height: 4px;
  left: 10px;
  top: 18px;
  border-radius: 5rem;
  background-color: var(--bg-constrast-light);
  transform: translateY(0px) rotate(45deg);
  transition: 0.2s;
}
.btn-return span:nth-child(2) {
  position: absolute;
  width: 20px;
  height: 4px;
  left: 10px;
  top: 18px;
  border-radius: 5rem;
  background-color: var(--bg-constrast-light);
  transform: translateY(0px) rotate(-45deg);
  transition: 0.2s;
}

.btn-return:hover span:nth-child(1),
.btn-return:focus span:nth-child(1) {
  transform: translateY(0px) rotate(45deg) scale(1.3);
  background-color: var(--cl-feedback-error);
}

.btn-return:hover span:nth-child(2),
.btn-return:focus span:nth-child(2) {
  transform: translateY(0px) rotate(-45deg) scale(1.3);
  background-color: var(--cl-feedback-error);
}

.show-menu-mobile {
  display: none;
}
@media screen and (max-width: 959px) {
  .show-menu-mobile {
    display: block;
    position: fixed;
    z-index: 10;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-primary);
    box-shadow: -8px -8px 14px var(--cl-white-pure), 8px 8px 14px var(--cl-shadow-effect-default);
    color: var(--bg-constrast-light);
    overflow: hidden;
    cursor: pointer;
  }
}
.show-menu-mobile span:nth-child(1) {
  position: absolute;
  width: 16px;
  height: 4px;
  left: 10px;
  top: 10px;
  border-radius: 5rem;
  background-color: var(--bg-constrast-light);
  transition: 0.2s ease-in-out;
}
.show-menu-mobile span:nth-child(2) {
  position: absolute;
  width: 20px;
  height: 4px;
  left: 10px;
  top: 18px;
  border-radius: 5rem;
  background-color: var(--bg-constrast-light);
  transition: 0.2s ease-in-out;
}
.show-menu-mobile span:nth-child(3) {
  position: absolute;
  width: 8px;
  height: 4px;
  left: 10px;
  top: 26px;
  border-radius: 5rem;
  background-color: var(--bg-constrast-light);
  transition: 0.2s ease-in-out;
}

@keyframes blinkEyes {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blinkEye {
  animation: blinkEyes 4s ease 4s infinite;
}

.reveral-up {
  transform: translateY(300px) scale(0.1);
  opacity: 0;
}

.reveral-left {
  transform: translateX(-400px) scale(0.1);
  opacity: 0;
}

.reveral-right {
  transform: translateX(400px) scale(0.1);
  opacity: 0;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.ps-absolute {
  position: absolute;
}

.ps-fixed {
  position: fixed;
}

.z-1 {
  z-index: 1;
}

.menuMobileActive {
  opacity: 1;
  transform: translateX(0);
}

.btnMobilePressed span:nth-child(1) {
  width: 20px;
  top: 18px;
  transform: translateY(0px) rotate(45deg);
}

.btnMobilePressed span:nth-child(2) {
  width: 20px;
  top: 18px;
  transform: translateY(0px) rotate(-45deg);
}

.btnMobilePressed span:nth-child(3) {
  transform: translateX(60px);
}

.inputInvalidJS {
  outline: solid 0.125rem var(--cl-feedback-error);
}

.inputValidJS {
  outline: solid 0.125rem var(--cl-feedback-sucess);
}

.btnReturnPosition {
  right: 1rem;
}

.highLight {
  box-shadow: 0px 0px 4px #fff;
  outline: 0.125rem solid #fff;
}

.scaleFont {
  font-size: 140% !important;
}/*# sourceMappingURL=style.css.map */